[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
asgiref = "==3.3.1"
dj-database-url = "==0.5.0"
pytz = "==2021.1"
sqlparse = "==0.4.1"
psycopg2-binary = "2.8.6"
Django = "==3.1.6"
django-cors-headers = "==3.4.0"
gunicorn = "*"
django-prometheus = "*"
drf-yasg = "*"
flex = "*"
djangorestframework = "*"
django-createsuperuserwithpassword = "*"
djangorestframework-jwt = "*"
requests = "*"
elasticsearch = "*"
pytest = "==6.2.4"
hypothesis = "==6.13.14"
pytest-django = "*"
pytest-cov = "==2.12.1"
boto3 = "*"
pickle5 = "*"
cffi = "*"
mypy = "==0.812"
typing-extensions = "==3.10.0.0"
PyJWT = "*"
Pillow = "*"
Cython = "==0.29.23"
imagehash = "*"

[dev-packages]

[requires]
python_version = "3.9"
